.error-message {
    position: absolute;
    padding: 0 3px;
    color: red;
  }

  ::ng-deep .mat-select-panel{

    position: fixed;  
    background-color: white;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)   
}

:ng-deep .mat-form-field{
    margin-left: 25px;
}