<div class="container">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">

    <div *ngFor="let student of students">
      <mdb-carousel-item (click)="openDetails(student.id)">
        <div class="view w-100">
          <img class="d-block w-100" [src]="student.imagePath">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">{{student.name}} {{student.age}}</h3>
          <p>{{student.facultyName}}</p>
        </div>
      </mdb-carousel-item>
    </div>

  </mdb-carousel>
</div>